.navbar{
    background-color: #ebeaea;
}

.navbar-brand{
    color: black;
    font-weight: bold;
    font-family: Times New Roman;
    font-size: 30px;
}

.procolor{
    color: black;
    font-size: 15px;
}


.back-image{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.contain_size{
    padding-top: 75px;
    padding-bottom: 75px;
}

.col-xs-6{
    background-color: white;
}
.imgsize{
    width: 100%;
    height: auto;
}

